ecompleterc
snippets
*~
ncm-playlist
.flycheck*
cnfonts
elpa
*#
quelpa
.org-id-locations
projectile*
history
custom.el
private.el
desktop
projects
eln-cache
auto-save-list
straight/*
!straight/versions
transient
rime
librime
recentf
tramp
request
elpy
.cache
private.el
org-roam.db
emojis
bookmarks
newsticker
hackernews
places
eshell
url
eaf
.emacs.desktop
.emacs.desktop.lock
.nrepl-port
.youdao
devdocs-browser
emacs.pdmp
devdocs
network-security.data
org-persist
